* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

header {
  width: 1600px;
  margin: 0 auto;
  background-color: white;
}

.nav {
  display: flex;
  justify-content: space-between;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;

  color: #1b1c20;

  padding-top: 21px;
  padding-bottom: 131px;
}

.nav__logo {
  margin-left: 152px;
}

.nav__menu {
  width: 446px;
  display: flex;
  justify-content: space-between;
}

.acc__login {
  margin-right: 34px;
}

.acc__btn {
  width: 167px;
  height: 50px;
  background: #fb8e0b;
  border-radius: 8px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Content/ nuetral */

  color: #ffffff;

  margin-right: 152px;
}

.main-wrap {
  width: 1600px;
  height: 673px;
  margin: 0 auto;
  background-color: white;

  display: flex;
}

.main-left {
  margin-left: 152px;
  margin-bottom: 109px;
  margin-right: 85px;
}

/* "U8" font replaced with "Mulish"*/
.main-left__slogan {
  width: 509px;
  height: 180px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;

  color: #1b1c20;

  margin-bottom: 29px;
}

.main-left__desc {
  width: 440px;
  height: 64px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  color: #383a47;

  margin-bottom: 29px;
}

.main-left__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 220px;

  background: #fb8e0b;
  border-radius: 8px;

  font-family: DM Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;

  color: #ffffff;

  margin-bottom: 109px;
}

.main-left__rating {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: space-evenly;
}

.rating__customers {
  margin-left: 29%;
}

.customers__num {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  /* identical to box height, or 140% */

  letter-spacing: -1px;

  /* Content/ header */

  color: #1b1c20;
}

.customers__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Content/ body */

  color: #383a47;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.rating__divider {
  width: 39px;
  height: 1px;

  /* Content/ header */

  background-color: #1b1c20;

  border: 1px solid #1b1c20;
  border-radius: 8px;
  transform: rotate(-90deg);
}

.stars__num {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  /* identical to box height, or 140% */

  letter-spacing: -1px;

  /* Content/ header */

  color: #1b1c20;
}

.stars__icons--yellow {
  padding-right: 3px;
}

.stars__icons--gray {
  padding-right: 10px;
}

.icons__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* Content/ body */

  color: #383a47;

  mix-blend-mode: normal;
  opacity: 0.6;
}

.rating__photo {
  position: absolute;
}

.rating__photo--c {
  left: 15%;
  top: 0%;
}

.rating__photo--b {
  left: 7%;
  top: 0%;
}

.rating__photo--a {
  left: 0%;
  top: 0%;
}

.stars__icons {
  display: flex;
}

.btn__text {
  padding-right: 9px;
}

.btn__arrow--right {
  margin-top: 2px;
}

.main-right {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-right__photo {
  position: absolute;
  left: 2%;
  top: -11%;
  z-index: 100;
}

.main-right__ellipse--outline {
  position: absolute;
  left: 16%;
  top: 20%;
}

.main-right__ellipse--yellow {
  position: absolute;
  left: 10%;
  top: 25%;
}

.main-right__jenny {
  position: absolute;
  left: 49%;
  top: 50%;

  width: 274px;
  height: 106px;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 84px 110px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(11.9604px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8.88889px;

  z-index: 200;
}

.jenny__name {
  margin-left: 75px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12.4444px;
  line-height: 18px;
  /* identical to box height, or 145% */

  /* Content/ header */

  color: #1b1c20;

  padding-top: 14px;
  margin-bottom: 5px;
}

.jenny__text {
  margin-left: 74px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  /* Content/ body */

  color: #383a47;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.jenny__photo {
  position: absolute;
  left: 5%;
  top: 14%;
  border-radius: 50%;
}

.main-right__ronald {
  position: absolute;
  left: 2%;
  top: 71%;

  width: 263px;
  height: 86px;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 84px 110px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(11.9604px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8.88889px;

  z-index: 200;
}

.ronald__name {
  margin-left: 75px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12.4444px;
  line-height: 18px;
  /* identical to box height, or 145% */

  /* Content/ header */

  color: #1b1c20;

  padding-top: 14px;
  margin-bottom: 5px;
}

.ronald__text {
  margin-left: 74px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */

  /* Content/ body */

  color: #383a47;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.ronald__photo {
  position: absolute;
  left: 5%;
  top: 14%;
  border-radius: 50%;
}

.features-wrap {
  width: 1600px;
  height: 400px;
  margin: 0 auto;
  background-color: white;
}

.features-wrap__title {
  text-align: center;
  padding-top: 80px;
  margin-bottom: 74px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  /* identical to box height, or 156% */

  text-align: center;

  /* Content/ header */

  color: #1b1c20;
}

.features-container {
  display: flex;
  margin-left: 152px;
}

.features-container__video {
  position: relative;
  width: 416px;
  margin-right: 24px;
}

.video__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 33px;
  /* identical to box height, or 157% */

  /* Content/ header */

  color: #1b1c20;
  margin-bottom: 12px;
  padding-left: 112px;
}

.video__desc {
  height: 48px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Content/ body */

  color: #383a47;
  padding-left: 112px;
}

.video__icon-circle {
  position: relative;
  width: 60px;
  height: 60px;
  left: 7%;
  top: -59%;

  /* Brand/P2 */

  background: #ffdfcd;
  mix-blend-mode: normal;

  border-radius: 50%;
}

.video__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features-container__time {
  position: relative;
  width: 416px;
  margin-right: 24px;
}

.time__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 33px;
  /* identical to box height, or 157% */

  /* Content/ header */

  color: #1b1c20;
  margin-bottom: 12px;
  padding-left: 112px;
}

.time__desc {
  height: 48px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Content/ body */

  color: #383a47;
  padding-left: 112px;
}

.time__icon-circle {
  position: relative;
  width: 60px;
  height: 60px;
  left: 7%;
  top: -59%;

  /* Brand/P2 */

  background: #dbeddc;
  mix-blend-mode: normal;

  border-radius: 50%;
}

.time__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features-container__safe {
  position: relative;
  width: 416px;
}

.safe__title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 33px;
  /* identical to box height, or 157% */

  /* Content/ header */

  color: #1b1c20;
  margin-bottom: 12px;
  padding-left: 112px;
}

.safe__desc {
  height: 48px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Content/ body */

  color: #383a47;
  padding-left: 112px;
}

.safe__icon-circle {
  position: relative;
  width: 60px;
  height: 60px;
  left: 7%;
  top: -59%;

  /* Brand/P2 */

  background: #fee8ce;
  mix-blend-mode: normal;

  border-radius: 50%;
}

.safe__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.meet-wrap {
  position: relative;
  width: 1600px;
  height: 585;
  margin: 0 auto;
  background-color: #f8f8fa;
  display: flex;
  justify-content: flex-end;
}

.meet-text-container {
  margin-top: 140px;
  margin-right: 277px;
  margin-bottom: 152px;
}

.meet-text-container__title {
  width: 511px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */

  /* Content/ header */

  color: #1b1c20;
  margin-bottom: 43px;
}

.meet-text-container__latin {
  width: 440px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  /* Content/ body */

  color: #383a47;
  margin-bottom: 26px;
}

.meet-text-container__desc {
  width: 431px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  /* Content/ body */

  color: #383a47;
}

.meet-text-container__video-call {
  position: absolute;
  left: 10%;
  top: 20%;
}

.start-wrap {
  width: 1600px;
  height: 639px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
}

.start-text-container {
  padding-top: 157px;
  margin-left: 200px;
  padding-bottom: 172px;
  margin-right: 230px;
}

.start-text-container__title {
  width: 518px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */

  /* Content/ header */

  color: #1b1c20;
  margin-bottom: 24px;
}

.start-text-container__desc {
  width: 492px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  /* Content/ body */

  color: #383a47;
  margin-bottom: 40px;
}

.start-text-container__btn {
  width: 189px;
  height: 56px;
  background: #fb8e0b;
  border-radius: 10px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;
}

.start-chat-card {
  position: relative;
  width: 366.74px;
  height: 419px;

  background: #ffffff;
  box-shadow: 0px 0px 61.3082px 1px rgba(0, 0, 0, 0.08);
  border-radius: 8.85835px;

  margin-top: 110px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14.1734px;
  line-height: 21px;
  /* or 148% */
}

.start-chat-card__hello {
  width: 231px;
  height: 63px;

  background: #f7f8fa;
  border-radius: 8px;

  display: flex;
  align-items: center;
  margin-top: 27.43px;
  margin-left: 70.43px;
  margin-bottom: 26.51px;
}

.start-chat-card__hello--text {
  width: 178.94px;
  height: 42.52px;
  margin-left: 13.35px;
}

.start-chat-card__hi {
  width: 236.52px;
  height: 85.04px;

  /* Brand/P2 */

  background: #fd6003;
  border-radius: 8px;

  display: flex;
  align-items: center;
  margin-left: 53.15px;
  margin-bottom: 26.58px;
}

.start-chat-card__hi--text {
  width: 178.94px;
  height: 63.78px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100;
  font-size: 14.1734px;
  line-height: 21px;
  /* or 148% */

  color: #ffffff;
  margin-left: 13.29px;
}

.start-chat-card__nice {
  width: 231.2px;
  height: 44.29px;

  background: #f7f8fa;
  border-radius: 8px;

  display: flex;
  align-items: center;
  margin-left: 77.07px;
  margin-bottom: 12.4px;
}

.start-chat-card__nice--text {
  width: 178.94px;
  height: 21.26px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14.1734px;
  line-height: 21px;
  /* or 148% */

  color: #12141d;
  margin-left: 13.29px;
}

.start-chat-card__dots-container {
  width: 51.87px;
  height: 27.46px;

  background: #f7f8fa;
  border-radius: 8.85835px;
  margin-left: 77.07px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 35.43px;
}

.dots-container__dot {
  width: 6px;
  height: 6px;

  background: #63738c;

  border-radius: 50%;
}

.dots-container__dot--a {
  margin-right: 4.43px;
}

.start-chat-card__type-box {
  box-sizing: border-box;
  width: 331.3px;
  height: 44.29px;

  mix-blend-mode: normal;
  border: 2px solid #e9e9ea;
  border-radius: 4.42918px;

  margin-left: 17.71px;

  display: flex;
}

.type-box__text {
  width: 116.93px;
  height: 21.26px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14.1734px;
  line-height: 21px;
  /* or 148% */

  display: flex;
  align-items: center;

  color: #12141d;

  mix-blend-mode: normal;
  opacity: 0.5;

  margin-top: 10px;
  margin-left: 10px;
  margin-right: 163px;
}

.type-box__arrow-container {
  position: relative;
  width: 35.43px;
  height: 35.43px;

  background: #d0d4e1;
  border-radius: 1.77167px;

  margin-top: 2px;
  margin-right: 2px;
}

.type-box__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alex__photo--chat {
  position: absolute;
  width: 39.86px;
  height: 39.86px;
}

.alex__photo--chatA {
  left: 5%;
  top: 6%;
}

.julia__photo {
  position: absolute;
  left: 82%;
  top: 28%;
}

.alex__photo--chatB {
  left: 7%;
  top: 54%;
}

.start-chat-card__poll-container {
  position: absolute;
  left: -38%;
  top: 74%;
  width: 200px;
  height: 152px;

  background: #07c5b9;
  border-radius: 9.2638px;
  display: flex;
  flex-direction: column;

  filter: drop-shadow(0px 4.0632px 60.948px rgba(0, 0, 0, 0.08));
}

.poll-container__will {
  width: 143.96px;
  height: 30.77px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 200;
  font-size: 12.9693px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #ffffff;

  margin-top: 16.49px;
  margin-left: 16.49px;
  margin-bottom: 16.48px;
}

.poll-container__answer {
  display: flex;
}

.poll-container__result {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12.9693px;
  line-height: 17px;
  display: flex;
  align-items: center;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.7;
}

.poll-container__yes {
  margin-right: 117.58px;
  margin-bottom: 5.5px;
  margin-left: 16.49px;
}

.poll-container__no {
  margin-right: 121.98px;
  margin-bottom: 5.5px;
  margin-left: 16.49px;
}

.poll-container__bar {
  width: 167px;
  height: auto;
  margin-left: 16.49px;
}

.poll-container__bar--yes {
  margin-bottom: 13.18px;
}

.start-chat-card__call-container {
  position: absolute;
  width: 138.01px;
  height: 170px;
  left: 85%;
  top: 40%;

  background: #ffffff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  filter: drop-shadow(0px 3.28502px 49.2754px rgba(0, 0, 0, 0.08));
}

.call-container__alex-photo {
  margin-top: 18px;
  margin-bottom: 8.45px;
}

.call-container__name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 13.1401px;
  line-height: 17px;

  color: #12141d;
  margin-bottom: 4.11px;
}

.call-container__position {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8.21256px;
  line-height: 11px;

  color: #12141d;

  mix-blend-mode: normal;
  opacity: 0.5;

  margin-bottom: 20.84px;
}

.call-container__options-container {
  display: flex;
}

.options-container__green-circle {
  position: relative;
  width: 26.49px;
  height: 26.49px;

  background: #07c5b9;
  border-radius: 50%;
  margin-right: 25.26px;
}

.options-container__phone-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options-container__red-circle {
  position: relative;
  width: 26.49px;
  height: 26.49px;

  background: #ed4546;
  border-radius: 50%;
}

.options-container__x-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inbox-wrap {
  width: 1600px;
  height: 645px;
  margin: 0 auto;
  background-color: #f8f8fa;
  display: flex;
}

.inbox-wrap__inbox-container {
  position: relative;
  width: 416px;
  height: 407px;

  background: #ffffff;
  box-shadow: 0px 0px 24px 1px rgba(0, 0, 0, 0.06);
  border-radius: 11.6201px;

  margin-top: 110px;
  margin-left: 262px;
  margin-right: 244px;
}

.inbox-container__inbox-card {
  margin-top: 17.86px;
  margin-left: 23.24px;
}

.inbox-container__inbox-user-photo {
  position: absolute;
}

.inbox-user-photo--A {
  left: -9%;
  top: 24%;
}

.inbox-user-photo--B {
  left: 12%;
  top: 87%;
}

.inbox-user-photo--C {
  left: 90%;
  top: 55%;
}

.inbox-text-container {
  margin-top: 158px;
}

.inbox-text-container__title {
  width: 499px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */

  /* Content/ header */

  color: #1b1c20;
  margin-bottom: 22px;
}

.inbox-text-container__desc {
  width: 498px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  /* Content/ body */

  color: #383a47;
  margin-bottom: 67px;
}

.inbox-text-container__inbox-stats-container {
  display: flex;
}

.inbox-stats-container__num {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  /* identical to box height, or 133% */

  /* Content/ header */

  color: #1b1c20;
}

.inbox-stats-container__num--websites {
  margin-right: 22px;
}

.inbox-stats-container__num--chats {
  margin-right: 16px;
}

.inbox-stats-container__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */

  /* Content/ body */

  color: #383a47;
}

.inbox-stats-container__text--websites {
  width: 77px;
  height: 44px;
  margin-right: 35px;
}

.inbox-stats-container__text--chats {
  width: 83px;
  height: 44px;
}

.client-wrap {
  position: relative;
  width: 1600px;
  height: 715px;
  margin: 0 auto;

  background: #fb8e0b;
  overflow: hidden;
}

.client-wrap__bg-shape {
  position: absolute;
  left: 0%;
  top: 0%;
}

.client-wrap__title {
  width: 446px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* or 121% */

  text-align: center;

  /* Content/ nuetral */

  color: #ffffff;

  margin: 0 auto;
  margin-top: 84px;
  margin-bottom: 74px;
}

.reviews-container {
  display: flex;
}

.reviews-container__wade-container {
  width: 600px;
  height: 244.44px;

  background: #ffffff;
  border-radius: 11.1111px;
  margin-left: 152px;
  margin-right: 95.33px;
}

.reviews__quote {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  text-align: center;

  /* Brand/P2 */

  color: #fd6003;
  padding-top: 31.55px;
  margin-bottom: 15.45px;
}

.reviews__comment {
  width: 501px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  text-align: center;

  /* Content/ body */

  color: #383a47;

  mix-blend-mode: normal;
  opacity: 0.7;

  margin: 0 auto;
  margin-bottom: 61.17px;
}

.name-pos-container {
  position: relative;
  width: 210px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.wade-container__photo {
  position: absolute;
  left: -8%;
  top: -4%;
  width: 62.22px;
  height: 62.22px;
}

.reviews__name {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  /* Content/ nuetral */

  color: #ffffff;

  margin-left: 62px;
}

.reviews__position {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* Content/ nuetral */

  color: #ffffff;

  mix-blend-mode: normal;

  margin-left: 62px;
}

.reviews-container__esther-container {
  width: 600px;
  height: 244.44px;

  background: #ffffff;
  border-radius: 11.1111px;
}

.esther-container__photo {
  position: absolute;
  left: -8%;
  top: -4%;
  width: 62.22px;
  height: 62.22px;
}

footer {
  width: 1600px;
  height: 660px;
  margin: 0 auto;
  background-color: #f8f8fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__slogan {
  width: 739px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  /* or 117% */

  text-align: center;

  /* Content/ header */

  color: #1b1c20;
  padding-top: 105px;
  margin-bottom: 36px;
}

.footer__btn {
  width: 190px;
  height: 56px;
  background: #fb8e0b;
  border-radius: 10px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;

  margin-bottom: 131px;
}

.footer__bar {
  width: 100%;
  display: flex;
}

.footer__bar__logo {
  margin-left: 155.22px;
  margin-right: 303.51px;
  margin-bottom: 30.2px;
}

.footer__bar__menu {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  /* identical to box height, or 176% */

  /* Content/ header */

  color: #1b1c20;
  margin-right: 273px;
}

.footer__menu__about {
  margin-right: 67.1px;
}

.footer__menu__features {
  margin-right: 67.21px;
}

.footer__menu__works {
  margin-right: 68.18px;
}

.footer__bar__socials {
  display: flex;
  margin-right: 152px;
}

.socials__twitter {
  margin-right: 34.39px;
}

.socials__facebook {
  margin-right: 34.39px;
}

.socials__instagram {
  margin-right: 34.39px;
}

.footer__line {
  margin-bottom: 33px;
}

.footer__foot {
  display: flex;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  /* Content/ text 3 */

  color: #797b89;
}

.foot__copyright {
  margin-right: 730px;
}

.foot__privacy {
  margin-right: 40px;
}
